body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 45px;
  color: blueviolet;
  text-align: center;
  font-weight: 400px;
}
image {
  width: 100px;
  display: block;
  margin: 0 auto;
}
